@import '../../styles/variables.scss';

.productsSection {
    margin: 28px 0;
    &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        color: $colorGrayDefault;
        margin-bottom: 20px;
    }
    &__products {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
}

.productCardForHome {
    max-width: 350px;
    width: 100%;
    height: 407px;
    background-color: $colorWhiteDefault;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    &__top, &__left {
        height: inherit;
    }
    &__img {
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__info {
        padding: 0 22px 26px;
        display: flex;
        flex-direction: column;
        height: 25%;
        justify-content: space-between;
        font-size: 17px;
        font-weight: 600;
        line-height: 21px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__price  {
        color: $colorOrangePrice;
    }
    &__oldPrice {
        color: $colorOrange;
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
        text-decoration-line: line-through;
    }
    &__rating {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $colorGrayDefault;
    }
    &__iconStar {
        font-size: 23px;
        color: $colorOrange;
        display: flex;
        align-items: center;
    }

    &__buy {
        color: $colorBlackDefault;
    }
}

.productCardForCart {
    max-width: 633px;
    width: 100%;
    height: 218px;
    padding: 18px 28px 15px 18px;
    // display: flex;
    background-color: $colorWhiteDefault;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        display: flex;
        gap: 24px;
    }
    &__img {
        width: 146px;
        height: 136px;
        display: flex;
        justify-content: center;
        // align-items: center;
        img {
            width: 100%;
        }
    }
    &__info {
        // padding: 0 22px 26px;
        display: flex;
        align-items: center;
        // flex-direction: column;
        // height: 25%;
        // justify-content: space-between;
        font-size: 17px;
        font-weight: 600;
        line-height: 21px;
    }
    &__price  {
        color: $colorOrangePrice;
        margin-top: 12px;
    }
    &__iconCart  {
        font-size: 20px;
        color: $colorRed;
    }
    &__bottom  {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .counter  {
        display: flex;
        align-items: center;
        gap: 25px;
        &__minus, &__plus {
            display: block;
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $colorOrange;
            &[disabled] {
                background-color: $colorGrayBg;
                cursor: not-allowed;
            }
            &::before {
                content: '';
                background-color: $colorWhiteDefault;
                position: absolute;
                width: 14px;
                height: 2px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &__plus  {
            &::after {
                content: '';
                background-color: $colorWhiteDefault;
                position: absolute;
                width: 2px;
                height: 14px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }


}