$iconsFontFamily: 'iconsFont' !default;
$iconsFontPath: '../assets/fonts' !default;

$iconCart: '\e900';
$iconDelete: '\e901';
$iconLang: '\e902';
$iconLike: '\e903';
$iconStar: '\e904';
$iconTelegram: '\e905';
$iconVkontakte: '\e906';
$iconWhatsapp: '\e907';

