$colorBlackPrimary: #1C1C27;
$colorBlackLogo: #101010;
$colorBlackDefault: #000;
$colorWhiteDefault: #fff;
$colorGrayBg: #EAEAEA;
$colorGrayDefault: #838383;
$colorOrangePrice: #FFA542;
$colorGrayPrice: #AAAAAA;
$colorOrange: #ffce7f;
$colorRed: #df6464;