@import '../../styles/variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    &__right {
        display: flex;
        align-items: center;
        column-gap: 45px;
    }
    &__iconLike, &__iconCart {
        &:hover {
            transition: color .3s;
            color: $colorOrangePrice;
            transform: scale(1.1);
        }
    }
    &__iconLike {
        font-size: 22px;
        color: $colorGrayDefault;
    }
    &__iconCart {
        font-size: 23px;
        color: $colorGrayDefault;
        position: relative;
    }
    &__counter {
        position: absolute;
        top: -7px;
        right: -9px;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        background-color: $colorOrangePrice;
        border-radius: 15px;
        min-width: 17.4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $colorWhiteDefault;

    }
}